.Button{
    background-color:orangered;
    color:white;
    border:none;
    border-radius:4px;
    height:40px;
    min-width:200px;
    border:3px solid #444;
    cursor:pointer;
    font-size:0.9rem;
}